<assembly>
    <id>zip-build</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>

    <fileSets>
        <fileSet>
            <directory>target/classes/</directory>
            <outputDirectory></outputDirectory>
            <useDefaultExcludes>false</useDefaultExcludes>
            <excludes>
                <exclude>**/.svn/*</exclude>
                <exclude>validator_autoload.php</exclude>
            </excludes>
        </fileSet>
    </fileSets>

</assembly>